@model KanaTomo.Models.User.UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Username!</h1>
    <p>Your account was created on: @Model.CreatedAt.ToShortDateString()</p>
</div>

<form action="@Url.Action("Logout", "Auth")" method="post">
    <button type="submit" class="nav-link btn btn-link">Logout</button>
</form>