
<body>
    <div class="container my-5">
        <h1 class="mb-4">Privacy Policy</h1>
        
        <h2 class="mt-4">Data Storage</h2>
        <p>All user data is stored on a MySQL server.</p>
        
        <h2 class="mt-4">Translation Services</h2>
        <p>KanaTomo utilizes two external services for translations:</p>
        <ul>
            <li><strong>JISHO</strong>: Used for Japanese language translations and dictionary lookups.</li>
            <li><strong>DeepL</strong>: Employed for additional translation capabilities.</li>
        </ul>
        
        <h2 class="mt-4">Third-Party Sharing</h2>
        <p>No personal information is shared with any third parties.</p>
        
        <h2 class="mt-4">Open Source</h2>
        <p>KanaTomo is an open-source project. The source code, including build instructions, is publicly available on GitHub at:</p>
        <p><a href="https://github.com/RuffMalte/KanaTomo" target="_blank">https://github.com/RuffMalte/KanaTomo</a></p>
        <p>Feel free to review the code and contribute.</p>
        
    </div>
</body>