@using KanaTomo.Models.Translation
@model KanaTomo.ViewModels.TranslationViewModel

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <form asp-controller="Translation" asp-action="Translate" method="post">
                <div class="input-group input-group-lg mb-3">
                    <input asp-for="TextToTranslate" type="text" class="form-control" placeholder="Translate..." aria-label="Search">
                    <button class="btn btn-primary" type="submit">
                        Translate
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
            <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
    }

    @if (Model.TranslationResult != null)
    {
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <p class="h4 fw-bold">Words-</p>
                <p class="h4"> @Model.TranslationResult.JishoResponse?.Data.Count found</p>
            </div>
            <button type="button" class="btn btn-link p-0" onclick="window.location.href='https://jisho.org/'">
                <i class="bi bi-info-circle-fill h4 icon-green"></i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-8">
                <!-- Left column (2/3 width) -->
                @foreach (var data in Model.TranslationResult?.JishoResponse?.Data)
                {
                    <partial name="Items/JishoDataItem" model="new JishoData()
                             {
                                 Slug = data.Slug,
                                 Japanese = data.Japanese,
                                 IsCommon = data.IsCommon,
                                 Tags = data.Tags,
                                 Jlpt = data.Jlpt,
                             }"/>
                }
            </div>
            <div class="col-md-4">
                <!-- Right column (1/3 width) -->
                <div class="sticky-top" style="top: 20px;">
                    <div class="alert alert-primary mb-4" role="alert">
                        @if (Model.TranslationResult.DeeplResponse != null)
                        {
                            <partial name="Items/DeeplDataItem" model="new KanaTomo.Models.Translation.DeeplResponseModel()
                                     {
                                         Text = Model.TranslationResult.DeeplResponse.Text,
                                         BilledCharacters = Model.TranslationResult.DeeplResponse.BilledCharacters,
                                         DetectedSourceLanguage = Model.TranslationResult.DeeplResponse.DetectedSourceLanguage, 
                                         ModelTypeUsed = Model.TranslationResult.DeeplResponse.ModelTypeUsed,
                                     }         
                                     "/>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>